<!-- your html code here -->
<ul class="nav w-100 align-items-center mi-navbar">
  <li class="nav-item">
    <a class="nav-link primer-elemento text-light"  href="#">Start Bootstrap</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Contact</a>
  </li>

  
</ul>