<!-- your html code here -->
<div class="container border-top">
    <div>
        <h2>Portafolio</h2>
    </div>

    <div>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <div class="row">

        <div class="col-4">
            <img src="assets/img/big-project-image.png" alt="project-image" class="img-fluid">
            <h3 class="text-primary">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/big-project-image.png" alt="project-image" class="img-fluid">
            <h3 class="text-primary">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/big-project-image.png" alt="project-image" class="img-fluid">
            <h3 class="text-primary">Project Name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
</div>