<!-- your html code here -->
<div class="container border-top border-bottom">
    <div class="row p-4 my-5">
        <div class="col-1"></div>
        <div class="col-3 me-0">
            <div class="d-block w-auto h-auto">

                <img class="w-100 h-100 object-fit-cover rounded-circle" style="width: 150px; height: 150px;" src="assets/img/2.jpg" alt="Haisenberg">
            </div>
        </div>
        <div class="col-6">
            <div class=" d-flex flex-column">
                <h3>This Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h3>
                <p>
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br>euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur.<br>Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>